.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  align-items: center;
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 27px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: var(--horizontal-space);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header .fa-gear:hover {
  animation: rotateCog 2s linear infinite;
}
